.user-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    .user-popup-block {
        border-radius: 3px;
    }
}

.user-popup-wrapper {
    width: inherit;
    height: inherit;
    .popup-content {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 620px;
        background-color: white;
        border: 1px solid gray;
        padding: 20px 30px;
    }
}

.user-social {
    @include box-shadow(inset 0 1px 1px 0 white);
    position: relative;
    cursor: pointer;
    height: 30px;
    background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .05) 49%, rgba(0, 0, 0, .05) 51%, rgba(0, 0, 0, .1));
    color: white;
    border-radius: 3px;
    border: 1px solid #777;
    padding: 4px 10px;
    font-size: 14px;
    &:active {
        background-image: linear-gradient(rgba(0, 0, 0, .05) 51%, rgba(0, 0, 0, .1), rgba(255, 255, 255, .1), rgba(255, 255, 255, .05) 49%);
    }
    &:before {
        content: " ";
        position: absolute;
        top: 0;
        left: 35px;
        width: 1px;
        height: inherit;
        @include box-shadow(inset 0 1px 1px 0 white);
    }
    &.fb {
        background-color: #4863ae;
    }
    &.gmail {
        background-color: #4e6cf7;
        .social-icon {
            padding: 2px 3px 2px 2px;
        }
    }
    .social-icon {
        font-size: 18px;
        padding: 2px 5px;
        vertical-align: middle;
    }
    span {
        display: inline-block;
        vertical-align: middle;
        padding-left: 8px;
    }
}

.popup-content {
    border-radius: 3px;
}