$sprite-1:url('http://www.travelyaari.com/img/packages/sprite-footer-1.png');
$border-1:1px solid #e2e2e2;
$background-gray: #F2F2F2;
$ul-padding-left:0;
$text-shadow-color:#302929;
$ty-unavailable:#D2CFCF;
$ty-transparent-bg:rgba(0,
0,
0,
0.9);
$ty-color: #f04e37;
$ty-color-dark: #dc3f29;
$floating-icons-border-color:#5F4C4C;
